---

db_uri: "/var/lib/user-meta-server/usermeta.db?_journal=WAL"
http_server:
  tls:
    cert: "/etc/credentials/x509/user-meta-server/server/cert.pem"
    key: "/etc/credentials/x509/user-meta-server/server/private_key.pem"
    ca: "/etc/credentials/x509/user-meta-server/ca.pem"
    acl:
      allow:
        - path: "/api/add_log"
          cn: "(auth-server|accountserver).{{ domain }}"
        - path: "/api/check_device"
          cn: "auth-server.{{ domain }}"
        - path: "/api/set_last_login"
          cn: "auth-server.{{ domain }}"
        - path: "/api/get_user_.*"
          cn: "accounts.{{ domain }}"
        - path: "/metrics"
          cn: ".*"
  max_inflight_requests: 100
